<h3 *ngIf="productsArray.length < 1">Your cart is empty</h3>
<div class="main-component"
     fxLayout="column"
     fxLayoutGap="2em"
      *ngIf="productsArray.length > 0">
  <button mat-raised-button color="accent"
          aria-label="Purchase Products"
          (click)="purchaseProdcuts()">
    <mat-icon>check</mat-icon> Purchase Products
  </button>
  <div [fxFlexOrder]="2">
    <div fxLayout="row wrap"
         fxLayoutGap="4em grid">
      <div [fxFlex]="cardWidth"
           [fxFlex.sm]="cardWidth * 2"
           [fxFlex.xs]="cardWidth * 2"
           *ngFor="let prod of productsInCart$ | async">
        <mat-card matRipple
                  class="pointer-card">
          <img mat-card-image
               [@simpleFadeAnimation]="'in'"
               [src]="prod.url"
               alt="Photo of {{prod.name}}">
          <mat-card-content class="last-child">
            <mat-list>
              <h1 mat-subheader>{{prod.name}}</h1>
              <h3 mat-subheader>Price: {{prod.price}}</h3>
              <h3 mat-subheader>Amount in cart: {{getAmount(prod)}}</h3>
            </mat-list>
            <button mat-raised-button color="accent"
                    aria-label="Remove  Product"
                    (click)="removeProduct(prod.uId)">
              <mat-icon>delete</mat-icon> Remove  Product
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
