<div class="main-component"
     fxLayout="column"
     fxLayoutGap="2em">
  <div [fxFlexOrder]="1">
    <mat-toolbar>
      <mat-toolbar-row>
        <h1>
          Update existing Product
        </h1>
        <span style="margin-left: 10px"></span>
        <button mat-raised-button color="accent"
                aria-label="Products Overview"
                (click)="gotToOverview()">
          <mat-icon>list</mat-icon> Product Overview
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div [fxFlexOrder]="2" *ngIf="product">
    <div fxLayout="row">
      <div fxFlex="60" fxLayout="column" fxFlexOffset="20" fxLayoutGap="2em">
        <div>
          <form [formGroup]="productForm">
            <mat-card fxLayout="column wrap" fxLayoutGap="1em">
              <mat-form-field fxFlexFill>
                <mat-label>Name</mat-label>
                <input matInput placeholder="type product name here" formControlName="name" fxFlex="100" >
              </mat-form-field>
              <div>
                <mat-label>Picture</mat-label>
                <mat-label><p style="color:#ff0000" > {{errorMessage}}</p></mat-label>
                <input accept="image/vnd.sealedmedia.softseal.jpg, image/png, image/gif, image/jpeg" type="file"  id="file" formControlName="pic"
                       (change)="UploadPic($event.target.files)" fxFlex="100">
              </div>
              <mat-form-field fxFlexFill>
                <mat-label>Price</mat-label>
                <input type="number" matInput placeholder="Type price here" formControlName="price" fxFlex="100">
              </mat-form-field>
              <button mat-raised-button (click)="update()">Save Changes</button>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
