<img [src]="product.url" alt="Photo of {{product.name}}">
<p>{{product.name}}</p>
<form [formGroup]="productForm" (ngSubmit)="update()">
  <div class="form-group">
    <label> Picture Url:</label>
    <label>s
      <input type="text" class="form-control" formControlName="picUrl" placeholder= "{{product.url}}" >
    </label>

    <label> Name:</label>
    <label>
      <input type="text" class="form-control" formControlName="name" placeholder="{{product.name}}">
    </label>

    <label> Picture Url:</label>
    <label>
      <input type="number" class="form-control" formControlName="price" placeholder="insert price">
    </label>
  </div>
  <div class="form-group">
    <button class="button" type="submit">Save</button>
  </div>
</form>
